body {
    background-color: lightgray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;

}

.container {
    width: 90%;
    margin: 20px;
}



.box-1 {
    background-color: black;
    color: white;
    border: 5px solid red;
    padding: 20px;




}

.box-1 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

.box-2 {
    background-color: lightgray;
    color: black;
    border: 2px dotted black;
    padding: 20px;
    margin-top: 20px;


}

.box-2 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0.2em;

}

.box-3 {
    background-color: lightgray;
    color: black;
    border: 2px dashed black;
    padding: 10px;
    margin-top: 20px;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.box-3 h2 {
    text-transform: capitalize;
    text-align: center;

}

.box-3 ul {
    list-style: none;
    padding-left: 10px;
    text-transform: capitalize;

}

.box-3 li {
    padding-bottom: 6px;
    border-bottom: 1px solid black;
}

.my-form {
    margin-top: 20px;

}

.form-group {
    padding-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input[type="text"] {
    padding: 8px;
    width: 50%;
}

.form-group input[type="email"],
textarea {
    padding: 8px;
    width: 50%;
}

.button {
    background-color: black;
    color: white;
    padding: 8px;
}

.block {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 33.3%;
    float: left;
    box-sizing: border-box;
}